h1 {
    color: rgb(1, 11, 14);
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgb(244, 182, 182);
}

p {
    color: rgb(22, 85, 71);
}

body {
    background-image: url("crab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-style: oblique;
}

li {
    color: rgb(9, 32, 131);
    font-style: oblique;
}

h3 {
    color: rgb(217, 217, 230);
}

#journeybd {
    color: rgb(50, 29, 2);
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    border: solid 5px;
    background-color: beige;
    color: rgb(52, 19, 171);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 10px 10px rgb(57, 9, 133);
}

#tourist {
    color: black;
}

span {
    font-size: 30px;
    color: rgb(141, 44, 6);
}